*.class
*~

# Package Files #
*.jar
*.war
*.ear

# Netbeans #
*/build/
*/dist/
*/nbproject/*

# ActiveMQ #
*.log
*.data
*/db.redo
libSOR/lib/apache-activemq-5.9.0/data/*
libSOR/lib/juddi-distro-3.1.5/juddi-tomcat-3.1.5/bin/target
