*.class

# Package Files #
*.jar
*.war
*.ear
/TallerSOR/build/
/TallerSOR/dist/
/Taller/nbproject/private/

# Netbeans #
*/build/
*/dist/
*/nbproject/private/
Gestor/nbproject/genfiles.properties
Gestor/nbproject/jax-ws.xml
