<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="desguaceNET.Properties.Settings.sor_desguaceConnectionString"
      connectionString="server=localhost;user id=root;password=12345;database=sor_desguace;persistsecurityinfo=True;port=3306"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DesguaceJavaWSPortBinding" />
        <binding name="DesguaceJavaWSPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/Gestor/DesguaceJavaWS"
        binding="basicHttpBinding" bindingConfiguration="DesguaceJavaWSPortBinding"
        contract="desguaceWS.DesguaceJavaWS" name="DesguaceJavaWSPort" />
      <endpoint address="http://192.168.1.104:8080/Gestor/DesguaceJavaWS"
        binding="basicHttpBinding" bindingConfiguration="DesguaceJavaWSPortBinding1"
        contract="desguaceWS_Silvia.DesguaceJavaWS" name="DesguaceJavaWSPort1" />
    </client>
  </system.serviceModel>
</configuration>